a{
    text-decoration: none;
}
li{
    list-style-type: none;
}
@font-face {
    font-family: main;
    src: url(../font/Orbitron/Orbitron-VariableFont_wght.ttf);
}
body{
    overflow: hidden;
    user-select: none;
}
.main{
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    // width: calc(100% + 20px);
    background-image: url(../img/bg-space.png);
    background-size: cover;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    .headerTop{
        height: 300vh;
        position: relative;
        .menuTop{
            // border: 1px solid red;
            height: 10vh;
            position: fixed;
            top: 0;left: 50%;
            transform: translateX(-50%);
            // border: 3px solid red;
            justify-content: space-around;
            >li{
                width: auto;
                position: relative;
                // &:hover>span{
                //     width: 50%;
                // }
                &:nth-of-type(1){
                    text-transform: capitalize;
                    >a {
                        font-family: main;
                        text-transform: capitalize;
                    }
                }
                >a{
                    color: white;
                    display: flex;
                    justify-content: center;align-items: center;
                    text-transform: uppercase;
                    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
                }
                >span{
                    transition: .4s;
                    position: absolute;
                    background-color: white;
                    width: 0;
                    height: 2px;
                    top: 70%;
                    &:nth-of-type(1){
                        left: 50%;
                    }
                    &:nth-of-type(2){
                        right: 50%;
                    }
                }
            }
        }
        .logo-menu {
            // border: 1px solid red;
            height: 10vh;
            padding-top: 1%;
            cursor: pointer;
            position: fixed;
            z-index: 999;
            >img {
                width: 100%;
                height: 100%;
                object-fit: contain;
                transform: scale(1.5);
            }
        }
        .KO-menu {
            position: fixed;
            right: 5%;
            // border: 1px solid red;
            height: 10vh;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 999;
            >a {
                // border: 1px solid blue;
                width: 50%;
                height: 100%;
                color: white;
                font-weight: 500;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                >h2 {
                    display: flex;
                    text-align: center;
                    font-size: 18px;
                }
                >span {
                    background-color: white;
                    height: 2px;
                    width: 0;
                    position: absolute;
                    top: 70%;
                    transition: .4s;
                }
                &:hover {
                    >span {
                        width: 60%;
                    }
                }
            }
        }
        .header-text1, .header-text2 {
            height: 20vh;
            display: flex;
            justify-content: center;
            align-items: center;
            background: transparent;
            // border: 1px solid red;
            transition: 1s;
            >h2 {
                color: white;
                font-size: 10vw;
            }
        }
        .headertext {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 60vh;
            // position: relative;
            justify-content: center;
            position: fixed;
            top: 40vh;
            z-index: 10;
            .header-text1 {
                width: 100%;
                position: absolute;
                bottom: 40vh;
                background-color: transparent;
                // background-color: red;
                >h2 {
                    bottom: 30vh;
                }
            }
            .header-text2 {
                width: 100%;
                opacity: 0;
                position: absolute;
                // background-color: yellow;
                height: 30vh;
                bottom: 20vh;
                >h2 {
                    font-size: 5vw;
                }
            }
        }
    }
    .EarthVisual {
        height: 100vh;
        position: absolute;
        top: 200%;
        right: 50%;
        background-color: red;
        .mainearth {
            // border: 1px solid red;
            // display: flex;
            position: absolute;
            justify-content: center;  
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            >video{
                width: 200%;
            }
        }
        .sparkle-com {
            // border: 1px solid red;
            // display: flex;
            position: absolute;
            justify-content: center;
            display: none;
            >img{
                width: 200%;
            }
        }
        .vid-com {
            // border: 1px solid red;
            // display: flex;
            position: absolute;
            justify-content: center;
            display: none;
            >video{
                width: 200%;
            }
        }
    }
    .communication {
        height: 500vh;
        position: relative;
    }

}
