a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

@font-face {
  font-family: main;
  src: url(../font/Orbitron/Orbitron-VariableFont_wght.ttf);
}
::-webkit-scrollbar {
  width: 0px;
}

body {
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.main {
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-image: url(../img/bg-space.png);
  background-size: cover;
  background-color: black;
  display: flex;
  flex-wrap: wrap;
}
.main .headerTop {
  height: 300vh;
  position: relative;
  z-index: 1000;
}
.main .headerTop .menuTop {
  height: 10vh;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-around;
}
.main .headerTop .menuTop > li {
  width: auto;
  position: relative;
}
.main .headerTop .menuTop > li:nth-of-type(1) {
  text-transform: capitalize;
}
.main .headerTop .menuTop > li:nth-of-type(1) > a {
  font-family: main;
  text-transform: capitalize;
}
.main .headerTop .menuTop > li > a {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.main .headerTop .menuTop > li > span {
  transition: 0.4s;
  position: absolute;
  background-color: white;
  width: 0;
  height: 2px;
  top: 70%;
}
.main .headerTop .menuTop > li > span:nth-of-type(1) {
  left: 50%;
}
.main .headerTop .menuTop > li > span:nth-of-type(2) {
  right: 50%;
}
.main .headerTop .logo-menu {
  height: 10vh;
  padding-top: 1%;
  cursor: pointer;
  position: fixed;
  z-index: 999;
}
.main .headerTop .logo-menu > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transform: scale(1.5);
}
.main .headerTop .KO-menu {
  position: fixed;
  right: 5%;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}
.main .headerTop .KO-menu > a {
  width: 50%;
  height: 100%;
  color: white;
  font-weight: 500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main .headerTop .KO-menu > a > h2 {
  display: flex;
  text-align: center;
  font-size: 18px;
}
.main .headerTop .KO-menu > a > span {
  background-color: white;
  height: 2px;
  width: 0;
  position: absolute;
  top: 70%;
  transition: 0.4s;
}
.main .headerTop .KO-menu > a:hover > span {
  width: 60%;
}
.main .headerTop .header-text1, .main .headerTop .header-text2 {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  transition: 1s;
}
.main .headerTop .header-text1 > h2, .main .headerTop .header-text2 > h2 {
  color: white;
  font-size: 10vw;
}
.main .headerTop .headertext {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 60vh;
  justify-content: center;
  position: fixed;
  top: 40vh;
  z-index: 10;
}
.main .headerTop .headertext .header-text1 {
  width: 100%;
  position: absolute;
  bottom: 40vh;
  background-color: transparent;
}
.main .headerTop .headertext .header-text1 > h2 {
  bottom: 30vh;
}
.main .headerTop .headertext .header-text2 {
  width: 100%;
  opacity: 0;
  position: absolute;
  height: 30vh;
  bottom: 20vh;
}
.main .headerTop .headertext .header-text2 > h2 {
  font-size: 5vw;
}
.main .EarthVisual {
  height: 100vh;
  position: absolute;
  top: 370%;
  right: 50%;
}
.main .EarthVisual .mainearth {
  position: relative;
  justify-content: center;
  top: 50%;
  left: 51%;
  transform: translate(-50%, -90%);
}
.main .EarthVisual .mainearth > video {
  width: 200%;
}
.main .EarthVisual .sparkle-com {
  position: absolute;
  justify-content: center;
  opacity: 0;
  transition: 1s;
  top: 0;
  right: 0;
}
.main .EarthVisual .sparkle-com > img {
  width: 200%;
}
.main .EarthVisual .vid-com {
  position: absolute;
  justify-content: center;
  display: none;
}
.main .EarthVisual .vid-com > video {
  width: 200%;
}
.main .communication {
  height: 700vh;
  width: 30%;
  position: relative;
  top: 300vh;
  right: -67vw;
  transition: 1s;
}
.main .communication article {
  position: absolute;
  height: 90vh;
  width: 30vw;
  top: 0;
  right: 0;
}
.main .communication article > h5 {
  color: #d8662c;
}
.main .communication article h3, .main .communication article p {
  color: #787777;
}
.main .communication article h3 {
  font-size: 3vw;
  margin-bottom: 5vh;
}
.main .communication article p > strong {
  font-family: main;
}/*# sourceMappingURL=master.css.map */